{% extends "base.html" %}
{% block title %}Sent Mail{% endblock title %}

{% block specific %}

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Sent Mail </h2>
        </div>
        {% for message in sent_messages %}
        <div class="panel-body">
            <h5 class="list-group-item-heading">Sender: {{message.sender}}</h5>
            <p class="list-group-item-text"></p>
            <p>Subject:{{message.subject}}</p>
        </div>
        <div class="panel-footer clearfix">
            <div class="pull-right">
                <a href="/message/{{ message.key.id() }}" class="btn btn-primary">Details</a>
                <a href="/message/{{ message.key.id() }}/delete" class ="btn btn-primary" > Delete </a>
                <a href="/" class="btn btn-default">Go Back</a>
            </div>
        </div>
            {% endfor %}

    </div>
</div>

{% endblock specific %}

